body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  font-size: 28px;
  text-align: center;
}


div {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
}

h3 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
